.bzr*
*.pyc
settings_*.py
*~
biketextmate.log
.ropeproject/
*#*
.venv
TAGS
.emacs.desktop
requirements_local.txt
*_flymake.py

# search index
whoosh_indexes/

# media folder :: mostly should be ignored, except for some 'static' resources
abextra/media/cache/
abextra/media/mugshots/
abextra/media/event_images/
abextra/media/location_images/
abextra/media/app_archives/