{% extends 'userena/base_userena.html' %}

{% block title %}About Us{% endblock %}
{% block navbar %}{% with current_tab="aboutus" %}{{ block.super }}{% endwith %}{% endblock %}

{% block content_title %}<h2>About Us</h2>{% endblock %}

{% block content %}
  <div class="entry">
    <p>Kwiqet was started by a close group of friends from Cambridge, New York City and the Silicon Valley with expertise in fields ranging from computer science to filmmaking. At Kwiqet, we value a diversity of minds, skills and professional experiences as we try to inspire folks to enjoy the things they like doing best with the people they care about most.</p>
    <p>The Kwiqet team is guided by one simple word: teamwork. Our whole philosophy revolves around collaboration, the idea of great thinkers from a variety of different fields coming together to create technology that makes people’s lives easier and more efficient. We are able to implement our vision of a world where people are united by common interests, changing the way they interact with the people, places and things around them.</p>
  </div>
{% endblock %}
