{% extends 'userena/base_userena_dual.html' %}
{% load i18n %}

{% block title %}Download{% endblock %}
{% block navbar %}{% with current_tab="download" %}{{ block.super }}{% endwith %}{% endblock %}

{% block page %}
<!-- start page -->
<div id="wrapper">
  <div id="page_dual">
    <div id="page-bg_dual">
      <div id="sidebar1" class="sidebar">
        <ul>
          <li>
            <ul>
              <li>
                <img class="appartwork" src="{{ STATIC_URL }}images/kwiqet-icon-175-175.png">
              </li>
              <li>
                <a class="dlkwiqet" href="{{ MEDIA_URL }}{{ app_dist.archive }}" alt="Download Kwiqet Alpha"></a>
              </li>
            </ul>
            <ul>
              <li>
                <h3>Kwiqet {{ app_dist.version }} for iPhone / iPod Touch</h3>
                <h4>Requirements</h4>
                <p class="requirements">iOS version: 4.x+</p>
                <p class="requirements">iTunes version: 10.x+</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- start main content -->
      <div id="content_dual">
        <div class="flower"></div>

        <div id="body">
          {% block body %}
          <div class="content_title">
            {% block content_title %}<h2>Let's get you started with the world!</h2>{% endblock %}
          </div>
          <div class="content">
            {% block content %}
            <div>
              <div id="instructions">
                <h3>Instructions</h3>
                <ol>
                  <li>Download the application archive.</li>
                  <li>Unzip the application archive containing the application binary and your personalized certificate.</li>
                  <li>Open iTunes.</li>
                  <li>Attach your device to the computer and make sure it shows up in iTunes.</li>
                  <li>Drag both files from the archive into iTunes.</li>
                  <li>Confirm that the Kwiqet app is now in the Applications library.</li>
                  <li>Sync your device.</li>
                  <li>Enjoy the world!</li>
                </ol>
              </div>
              <div id="video">
                <h3>Video</h3>
                <iframe width="425" height="349" src="http://www.youtube.com/embed/fvOAd1L4aZc" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            {% endblock %}
          </div>
          {% endblock %}
        </div>

      </div>
      <!-- end content -->

      <div style="clear: both;">&nbsp;</div>
    </div>
  </div>
</div>
<!-- end page -->
{% endblock %}
