{% extends 'userena/base_userena_dual.html' %}
{% load i18n %}

{% block title %}Alpha Questionnaire{% endblock %}
{% block navbar %}{% with current_tab="account" %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
<form id="alpha_questionnaire_form" class="wufoo topLabel page" autocomplete="off" action="" method="post" novalidate="">
  {% csrf_token %}

  <header class="info">
    <h2>Alpha Testing Qualification Questionnaire</h2>
    <div>Please, answer these questions to help us make a proper assessment.</div>
  </header>

  <ul>
    {% with form.device_platform as field %}
    <li class="{% if field.errors %}error{% endif %}">
      <label class="desc" for="id_{{ field.name }}">
        Mobile Platform
        {% if field.field.required %}<span class="req">*</span>{% endif %}
      </label>
      <div>
        {{ field }}
      </div>
      {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}
    </li>
    {% endwith %}

    {% with form.is_usage_info_ok as field %}
    <li class="{% if field.errors %}error{% endif %}">
      <label class="desc" for="id_{{ field.name }}">
        May we use the data we collect from your usage in order to improve our application/future user experiences?
        {% if field.field.required %}<span class="req">*</span>{% endif %}
      </label>
      <div>
        {{ field }}
      </div>
      {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}
    </li>
    {% endwith %}

    {% with form.is_mobile_planner as field %}
    <li class="{% if field.errors %}error{% endif %}">
      <label class="desc" for="id_{{ field.name }}">
        Do you frequently use mobile applications to plan outings with friends/schedule events and activities?
        {% if field.field.required %}<span class="req">*</span>{% endif %}
      </label>
      <div>
        {{ field }}
      </div>
      {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}
    </li>
    {% endwith %}

    {% with form.is_app_dev as field %}
    <li class="{% if field.errors %}error{% endif %}">
      <label class="desc" for="id_{{ field.name }}">
        Are you an app developer or currently working on a mobile application?
        {% if field.field.required %}<span class="req">*</span>{% endif %}
      </label>
      <div>
        {{ field }}
      </div>
      {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}
    </li>
    {% endwith %}

    {% with form.zip as field %}
    <li class="{% if field.errors %}error{% endif %}">
      <label class="desc" for="id_{{ field.name }}">
        Postal Code
        {% if field.field.required %}<span class="req">*</span>{% endif %}
      </label>
      <div>
        {{ field }}
      </div>
      {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}
    </li>
    {% endwith %}

    {% with form.year_of_birth as field %}
    <li class="{% if field.errors %}error{% endif %}">
      <label class="desc" for="id_{{ field.name }}">
        Year of Birth
        {% if field.field.required %}<span class="req">*</span>{% endif %}
      </label>
      <div>
        {{ field }}
      </div>
      {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}
    </li>
    {% endwith %}

    <li class="buttons">
      <div>
        <input id="saveForm" name="saveForm" class="btImg submit" type="image" src="{{ MEDIA_URL }}images/transparent.png" alt="Submit">
      </div>
    </li>
  <ul>

</form>
{% endblock %}
