{% extends "base.html" %}
{% load i18n %}

{% block page %}
<!-- start page -->
<div id="wrapper">
  <div id="page_dual">
    <div id="page-bg_dual">
      <div id="sidebar1" class="sidebar">
        <ul>
          <li>
            {# {% if user.username == profile.user.username %} #}
            {# <h2>Account Actions</h2> #}
            <ul>
              <li><img src="{{ user.profile.get_mugshot_url }}" alt="{% trans 'Your mugshot' %}" /></li>
              <li><a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %} &raquo;</a></li>
              <li><a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %} &raquo;</a></li>
              <li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %} &raquo;</a></li>
              <li><a href="{% url userena_email_change user.username %}">{% trans "Change email" %} &raquo;</a></li>
              {% if not user.profile.alpha_status or user.profile.alpha_status == 'P' %}
                <li><a href="{% url alpha_questionnaire user.username %}">{% trans "Alpha Questionnaire" %} &raquo;</a></li>
              {% endif %}
            </ul>
            {# {% endif %} #}
          </li>
        </ul>
      </div>

      <!-- start main content -->
      <div id="content_dual">
        <div class="flower"></div>

        <div id="body">
          {% block body %}
          <div class="content_title">
            {% block content_title %}{% endblock %}
          </div>
          <div class="content">
            {% block content %}{% endblock %}
          </div>
          {% endblock %}
        </div>

      </div>
      <!-- end content -->

      <div style="clear: both;">&nbsp;</div>
    </div>
  </div>
</div>
<!-- end page -->
{% endblock %}
