{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}

  <form id="signin_form" class="wufoo topLabel page" autocomplete="off" action="" method="post" novalidate="">
    {% csrf_token %}

    <header class="info">
      <h2>{% trans "Reset Password" %}</h2>
    </header>

    <ul>
      {% for field in form %}
      <li class="{% if field.errors %}error{% endif %}">
        <label class="desc" for="id_{{ field.name }}">
          {{ field.label }}
          {% if field.field.required %}<span class="req">*</span>{% endif %}
        </label>
        <div>
          {{ field }}
        </div>
        {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}
      </li>
      {% endfor %}

      <li class="buttons">
        <div>
          <input id="saveForm" name="saveForm" class="btImg submit" type="image" src="{{ MEDIA_URL }}images/transparent.png" alt="Submit">
        </div>
      </li>
    <ul>
</form>
{% endblock %}
