{% extends 'userena/base_userena_dual.html' %}
{% load i18n %}

{% block title %}{{ profile.user.first_name }}'s {% trans "profile" %}.{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
    <div id="details">
      <img src="{{ profile.get_mugshot_url }}" alt="{% trans 'Your mugshot' %}" />
      {% if profile.user.get_full_name %}
      <p><strong>{% trans "Name" %}</strong><br /> {{ profile.user.get_full_name }}</p>
      {% endif %}
      {% if profile.user.email %}
      <p><strong>{% trans "Email" %}</strong><br />{{ profile.user.email }}</p>
      {% endif %}
    </div>
{% endblock %}
