{% extends 'userena/base_userena_dual.html' %}
{% load i18n %}

{% block title %}{{ profile.user.first_name }}'s {% trans "profile" %}.{% endblock %}
{% block navbar %}{% with current_tab="account" %}{{ block.super }}{% endwith %}{% endblock %}

{% block content_title %}<h2>{% if profile.user.get_full_name %}{{ profile.user.get_full_name }}{% endif %}</h2>{% endblock %}

{% block content %}
    <div id="details">
      {% if profile.user.email %}
      <p><strong>{% trans "Email" %}:</strong> {{ profile.user.email }}</p>
      {% endif %}
      <p><strong>Alpha status:</strong> {{ alpha_status|lower }}</p>
    </div>
{% endblock %}
