<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="kwiqet" />
  {% block meta %}{% endblock %}
  <link href="{{MEDIA_URL}}css/default.css" rel="stylesheet" type="text/css" media="screen" />
  <title>{% block title %}Kwiqet{% endblock %}</title>
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

  <!-- start header -->
  <div id="header">
  	<div id="logo">
  		<h1><a href="#"><span>Kwiqet </span></a></h1>
  		<p>ALPHA USERS PORTAL</p>
  	</div>
  <!-- start login -->
      <div id="top_login"> 
  		<form action="https://www.leagueoflegends.com/user/login" method="post"> 
  			<span class="label" style="position: absolute; left: 28px;">Login</span> 
  			<input type="text" name="name"> 
  			<input type="password" name="pass"> 
  			<input type="hidden" name="form_id" id="edit-user-login" value="user_login"> 
  			<input type="submit" class="login_button" value=""> 
  			<a href="/account/recovery/password" class="forget_link">Forgot your password?</a>
  		</form> 
  	</div>
  <!-- end login -->
  	<div id="menu">
  		<ul id="main">
  			<li class="current_page_item"><a href="#" class="first">Homepage</a></li>
  			<li><a href="#">About Us</a></li>
  			<li><a href="#">Contact Us</a></li>
  		</ul>
  	</div>
  </div>
  <!-- end header -->

  <div id="body">
    {% block body %}
    <div class="content_title">
    {% block content_title %}{% endblock %}
    </div>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
    {% endblock %}
  </div>
</body>
</html>
