<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="kwiqet" />
  {% block meta %}{% endblock %}
  <link href="{{ STATIC_URL }}css/default.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="{{ STATIC_URL }}css/form.css" rel="stylesheet" type="text/css" media="screen" />
  <title>{% block title %}Kwiqet{% endblock %}</title>
  {% block script_base %}{% endblock %}
  {% block script %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

  {% block console %}
  {% if form.errors or messages%}
  <div id="console">
      <div class="inner_structure">
      {% if messages %}
          <p class="success">
          {% for message in messages %}
          {{ message|safe }}
          {% endfor %}
          <a class="close" href="">Okay, thanks!</a></p>
      {% endif %}
      {% if form.errors %}
          <p class="error">Please, fix the errors below and try again. <a class="close" href="">Ack, I'll fix it.</a></p>
      {% endif %}
      </div>
  </div>
  {% endif %}
  {% endblock %}

  <!-- pagewrap start -->
  <div id="pagewrapper"> 

  <div id="header">
    <!-- start header -->
    <div id="logo">
      <a href="/">
        <img src="{{ STATIC_URL }}images/transparent.png" height="100" width="300"/>
      </a>
      <p>the mobile-social tkts booth</p>

      <!-- start login -->
      <div id="top_login">
        <div class="welcome_text">
          {% if user.is_authenticated %}
            <span class='label'>Welcome Back, {{ user.first_name }} <span class='black'>|</span> <a href="{% url userena_signout %}">Logout</a></span>
          {% else %}
            <span><a href="{% url userena_signin %}">Login</a></span>
          {% endif %}
        </div>
      </div>
      <!-- end login -->
    </div>

    <!-- begin menu -->
    {% block navbar %}
    <div id="menu">
      <ul id="main">
        <li class="{% if current_tab == 'home' %}current_page_item{% endif %}">
            <a href="{% url alpha_home %}" class="first">Homepage</a>
        </li>
        {% if user.is_authenticated %}
          <li class={% if current_tab == 'account' %}current_page_item{% endif %}>
            <a href="{% url userena_profile_detail user.username %}"><span>Account</span></a>
          </li>
          {% if user.profile.alpha_status == 'A' %}
            <li class={% if current_tab == 'download' %}current_page_item{% endif %}>
              <a href="{% url alpha_download user.username %}"><span>Download</span></a>
            </li>
          {% endif %}
        {% endif %}
	<li class={% if current_tab == 'blog' %}current_page_item{% endif %}>
	  <a href="http://kwiqet.tumblr.com/"><span>Blog</span></a>
        </li>
        <li class={% if current_tab == 'aboutus' %}current_page_item{% endif %}>
          <a href="{% url alpha_about_us %}">About Us</a>
        </li>
      </ul>
    </div>
    {% endblock %}
    <!-- end menu -->

  </div>
  <!-- end header -->

  {% block page %}
  <!-- start page -->
  <div id="wrapper">
    <div id="page_single">
      <div id="page-bg_single">
        <!-- start main content -->
        <div id="content_single">
          <div class="flower"></div>

          <div id="body">
            {% block body %}
            <div class="content_title">
              {% block content_title %}{% endblock %}
            </div>
            <div class="content">
              {% block content %}{% endblock %}
            </div>
            {% endblock %}
          </div>

        </div>
        <!-- end content -->

        <div style="clear: both;">&nbsp;</div>
      </div>
    </div>
  </div>
  <!-- end page -->
  {% endblock %}

  <!-- pagewrap end -->
  </div>

  <!-- begin footer -->
  <div id="footer">
    <div id="footer-bg">
      <p class="copyright">&copy;&nbsp;&nbsp;2011 <a href="http://www.abextratech.com/">Abextra Inc.</a> All Rights Reserved.</p>
      <p class="link">Contact Us: <a href="mailto:contact@kwiqet.com">contact@kwiqet.com</a>&nbsp;&#8226;&nbsp;<a href="#">Privacy Policy</a></p>
    </div>
  </div>
  <!-- end footer -->

{% block bottom_js %}{% endblock %}

</body>
</html>
