<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Kwiqet -- Your Ticket to the World</title>
</head>

<body>
<div class="distance"></div>
  <div class="bBox">
    <div class="splash">
      <img src="{{ MEDIA_URL }}images/logo.png"/>
    </div>
    <div class="pHolder">
      <div class="pBox pBlue"><img src="{{ MEDIA_URL }}images/blue.jpg"/></div>
      <div class="pBox pCyan"><img src="{{ MEDIA_URL }}images/cyan.jpg"/></div>
      <div class="pBox pGreen"><img src="{{ MEDIA_URL }}images/green.jpg"/></div>
      <div class="pBox pYellow"><img src="{{ MEDIA_URL }}images/yellow.jpg"/></div>
      <div class="pBox pOrange"><img src="{{ MEDIA_URL }}images/orange.jpg"/></div>
      <div class="pBox pSalmon"><img src="{{ MEDIA_URL }}images/salmon.jpg"/></div>
      <div class="pBox pMagenta"><img src="{{ MEDIA_URL }}images/magenta.jpg"/></div>
      <div class="pBox pPurple"><img src="{{ MEDIA_URL }}images/purple.jpg"/></div>
    </div>
    <br>
    <div class="splash2">
      <a href="{% url alpha_home %}">
        <img class="alpha_button" src="{{ MEDIA_URL }}images/transparent.png" />
      </a>
    </div>
  </div>
</body>
</html>
